{% extends "base.html" %} {% block content %}
<div class="grid grid-cols-1 gap-4 md:grid-cols-5">
    <div class="col-span-1 md:col-span-3 md:col-start-2">
        <h2 class="m-4">{{ term.name }}</h2>
        {% for page in term.pages %}
        <div class="m-4">
            <span class="">{{ page.date | date(format="%F") }}</span>
            <span class="">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
