@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-wrap break-words font-serif text-gray-900 !important;
}

a,
a:visited {
    @apply underline-offset-2 !important;
    color: #e36414 !important;
}
a:hover {
    text-decoration: underline;
}

h1.title {
    @apply text-2xl font-bold;
}

.markdown {
    p {
        @apply my-2;
    }

    h1 {
        @apply py-1 text-xl font-semibold !important;
    }

    h2 {
        @apply py-1 text-xl font-semibold !important;
    }

    h3 {
        @apply py-1 text-lg font-semibold !important;
    }

    h4 {
        @apply py-1 text-base font-semibold !important;
    }

    pre {
        @apply my-2 text-wrap break-words p-1 !important;
    }
}

ul {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
