@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-wrap break-words font-serif text-gray-900 !important;
}

h1 {
    @apply text-3xl !important;
}

a,
a:visited {
    @apply underline-offset-2 !important;
    color: #e36414 !important;
}
a:hover {
    text-decoration: underline;
}

h1.title {
    @apply text-2xl font-bold;
}

.markdown {
    p {
        @apply my-2;
    }

    h1 {
        @apply py-2 text-3xl font-black !important;
    }

    h2 {
        @apply py-3 text-2xl font-extrabold !important;
    }

    h3 {
        @apply py-3 text-xl font-bold !important;
    }

    h4 {
        @apply py-3 text-lg font-semibold !important;
    }

    h5 {
        @apply py-3 text-base font-semibold !important;
    }

    pre {
        @apply my-2 break-words p-2 overflow-x-auto overflow-y-hidden !important;
    }

    ul {
        @apply list-inside list-disc !important;
    }

    ol {
        @apply list-inside list-decimal !important;
    }

    blockquote {
        @apply border-s-8 pl-2 text-slate-500 !important;
    }

    table {
        @apply table-fixed border-collapse border border-slate-400 border-spacing-2 max-w-full !important;

        thead {
            @apply bg-slate-100 !important;

            tr {
                th {
                    @apply border border-slate-300 p-2;
                }
            }
        }

        tbody {
            tr {
                td {
                    @apply border border-slate-300 p-2;
                }
            }
        }
    }
}

p {
    code {
        @apply bg-slate-100 px-1;
    }
}
