<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value="en-US") }}">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="container bg-slate-300">
        <ul class="list-none flex justify-center">
            <li class="p-2">
                <a href="/" class="hover:underline underline-offset-2">Home</a>
            <li class="p-2">
                <a href="/" class="hover:underline underline-offset-2">Tags</a>
            </li>
        </ul>
    </nav>
</body>
</html>
