{% extends "base.html" %} {% block content %}
<div class="grid grid-cols-5 gap-4">
    <div class="col-span-3 col-start-2">
        {% for page in paginator.pages %}
        <div class="my-4">
            <h1 class="py-2 text-xl font-semibold">
                <a href="{{ page.permalink }}" class="hover:underline"
                    >{{ page.title | safe }}</a
                >
            </h1>
            <div>{{ page.date | date(format="%F") }}</div>
            <div class="page-content summary">{{ page.summary | safe }}</div>
            <div class="mt-1">
                <a
                    href="{{ page.permalink }}"
                    class="text-teal-600 hover:underline"
                >
                    Read more...
                </a>
            </div>
        </div>
        {% endfor %}

        <hr class="my-4" />
        <nav class="flex justify-between">
            {% if paginator.previous %}
            <a
                class="text-teal-600 hover:underline"
                href="{{ paginator.previous }}"
                >‹ Previous</a
            >
            {% else %}
            <span>&nbsp;</span>
            {% endif %} {% if paginator.next %}
            <a class="text-teal-600 hover:underline" href="{{ paginator.next }}"
                >Next ›</a
            >
            {% else %}
            <span>&nbsp;</span>
            {% endif %}
        </nav>
    </div>
    <div></div>
</div>

{% endblock content %}
