{% extends "base.html" %} {% block content %}
<div class="grid grid-cols-1 gap-4 md:grid-cols-5">
    <div class="col-span-1 md:col-span-3 md:col-start-2">
        <div class="m-4">
            <h1 class="title py-2">{{ page.title | safe }}</h1>
            <div>
                <span class="text-slate-500"
                    >{{ page.date | date(format="%F") }}</span
                >
                {% if page.taxonomies.tags %} {% for tag in page.taxonomies.tags
                %}
                <a
                    class="mx-1"
                    href="{{ get_taxonomy_url(kind='tags', name=tag) }}"
                    >#{{ tag }}</a
                >
                {% endfor %} {% endif %}
            </div>
            <div class="markdown my-2 mx-auto">{{ page.content | safe }}</div>
        </div>

        <hr />
        <div class="m-4">
            {% if page.lower or page.higher %}
            <div class="flex justify-between">
                {% if page.lower %}
                <a href="{{ page.lower.permalink }}"
                    >‹ {{ page.lower.title }}</a
                >
                {% endif %}
                <span>&nbsp;</span>
                {% if page.higher %}
                <a href="{{ page.higher.permalink }}"
                    >{{ page.higher.title }} ›</a
                >
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %} {% block title %} {{ page.title | safe }} - {{
config.title }} {% endblock title %}
